{% load staticfiles %}
<html>
    <head>
		<title>Vainqueurs Tour de France</title>
		<link rel="stylesheet" href="{% static 'css/TourdeFrance-v2.css' %}">        
    </head>
    <body class="all">
		<div class='header'><H1>Le palmarès de la grande boucle l'année de votre naissance</H1></div>

	{% if post.annee  %}
		{% if post.commenttour != "" %}
		<div class='Comment'>{{ post.commenttour }}</div>
		{% endif %}
		{% if post.vainqueur == "" %}
			<div class='Vainqueur'>Pas de vainqueur</div>
		{% else %}
		 <div class='Vainqueur'>Le vainqueur est {{ post.vainqueur }}</div>
		{% endif %}
		{% if post.grimpeur  %}
		{% if post.grimpeur == "" %}
			<div class='grimpeur'>Pas de meilleur grimpeur</div>
		{% else %}
		 <div class='grimpeur'>Le meilleur grimpeur est {{ post.grimpeur }}</div>
		 {% endif %}
		 {% endif %}
		 {% if post.sprinter  %}
		 {% if post.sprinter == "" %}
			<div class='sprinter'>Pas de meilleur sprinter</div>
		{% else %}
		 <div class='sprinter'>Le meilleur sprinter est {{ post.sprinter }}</div>
		 {% endif %} 
		 {% endif %} 
	{% endif %}	 

        
    </body>
</html>